/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.btn-default:hover,
.btn-default:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

/*
 * Base structure
 */

body {
  background: url(../img/doha-skyline1.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  height: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  height: 100%;
}


.site-wrapper-inner {
  vertical-align: top;
  height: 100%;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: -20px;
  margin-bottom: 40px;
}

.nav-masthead {
  text-align: center;
  display: block;
}

.nav-masthead .nav-link {
  display: inline-block;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}

.cover .btn-notify {
  padding: 10px 60px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px;
}

.cover-heading {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: Cinzel;

}

@media (min-width: 768px) {
  .cover-heading {
    font-size: 40px;
    letter-spacing: 15px;
  }
}

.cover-copy {
  max-width: 600px;
  margin: 0 auto 3rem;
  text-align: center;
}

/*
 * Footer
 */
.mastfoot {
  color: #fff;
  font-family: Cinzel;
}

/*
 * Subscribe modal box
 */
#subscribeModal .modal-content {
  background-color: #212121;
  color: #fff;
  text-align: left;
}

#subscribeModal .modal-header, #subscribeModal .modal-footer {
  border: 0;
}

#subscribeModal .close {
  color: #fff;
}

#subscribeModal .form-control {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 1);
  color: #fff;
}

#subscribeModal .form-control:focus {
  border-color: #49506a;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

.countdown {
  display: -webkit-inline-box;
  margin-left: -15px;
}

.counter-box {
  padding-top: 35px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-right: 40px;
  width: 150px;
  height: 150px;

}

@media (max-width: 480px){

  body { 
  background-attachment: inherit;
}

  .cover-container {
    max-width: 100%;
  }
  .countdown {
    display: -webkit-inline-box!important;

  }
  .counter-box {
    margin-bottom: 20px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    padding-top: 20px;
  }
  #days, #hours, #minutes, #seconds {
    font-size: 18px!important;
  }
.cover-heading {
  font-size: 30px;
}

}
@media (max-width: 768px){

  .cover-container {
    max-width: 100%;
  }
  .countdown {
    display: -webkit-inline-box!important;

  }
  .counter-box {
    margin-bottom: 20px;
    width: 65px;
    height: 65px;
    margin-right: 10px;
    padding-top: 16px;
  }
  #days, #hours, #minutes, #seconds {
    font-size: 18px!important;
  }
.cover-heading {
  font-size: 30px;
}

}


